#gallery{
    list-style: none;
    display: flex;
}

.gallary__image{
    max-width: 150px;
    height: 100px;
}
.gallary__item:not(:first-child){
    margin-left: 10px;
 
}

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }
  .box{
    /* width: 30px;
    height: 30px; */
    /* background-color: green; */
    margin-bottom: 10px;
    
  }